/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg: #add8e6;
    --nav-cont: #daa520;
    --banner-bg: #00008b;
    --banner-cont: #ee82ee;
    --section-img: #1e90ff;
    --section-text: #ffc0cb;
    --section-bg: #d3d3d3;
    --main-footer-cont: #228b22;
    --footer-social: #f08080;
    --footer-col: #20b2aa;
    --footer-bg: #23272a;
    --footer-bottom: #7fffd4;
    --footer-btn: #ffb6c1;
}

/* #endregion Common

/* #region Utilities */
.container {
    width: 60%;
}

.p-1 {
padding: 0.5rem;
}

.dash-b {
    border: 1px dashed #000;
}

.dash-b-w {
    border: 1px dashed #fff;
}

/* #endregion Utilities */

/* #region app_header */
#app_header {
    display: flex;
    justify-content: center;
    background-color: var(--nav-bg);
}

#app_header .container {
    background-color: var(--nav-cont);
    display: flex;
    justify-content: space-between;
    margin: 0.7rem;
}

.logo {
    width: 20%;
}

nav {
    width: 60%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-list li {
    padding: 0 0.5rem
}

.login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

/* #endregion app_header */

/* #region Main */
#app_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.jumbotron {
    background-color: var(--banner-bg);
    width: 100%;
    display: flex;
    justify-content: center;
}

.jumbotron-container {
    background-color: var(--banner-cont);
    width: 45%;
    height: 300px;
    margin: 2.5rem 0;
}

main .main-section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
}

section .container {
    margin: 2.5rem 0;
    display: flex;
}

.section-img {
    background-color: var(--section-img); 
    height: 100%;
    width: 60%;
}
 
.section-text {
     background-color: var(--section-text);
     height: 100%;
     width: 40%;
}

#reliable .container {
    background-color: var(--main-footer-cont);
    height: 650px;
    display: flex;
    justify-content: center;
    margin: 2.5rem auto;
}

#easy-meeting, #reliable {
    background-color: var(--section-bg);
}
/* #endregion Main */

/* #region Footer */
#app_footer {
    display: flex;
    justify-content: center;
    background-color: var(--footer-bg);
}

#footer-top {
    height: 450px;
    width: 100%;
    display: flex;
    margin: 1rem 0 2.5rem 0;
}

#footer-top #talk {
    background-color: var(--footer-social);
    width: 30%;
    height: 100%;
}

#footer-top .columns {
    display: flex;
    width: 70%;
}

#footer-top .col {
    background-color: var(--footer-col);
    height: 100%;
    width: calc(100%/4);
}

#footer-bottom {
    height: 60px;
    width: 100%;
    margin-top: 2rem;
    background-color: var(--footer-bottom);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-btn {
    background-color: var(--footer-btn);
    padding: 0 0.5rem;
}
/* #endregion Footer */